*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #307D7E;
}
.typed{
    height: 5%;
    width: 610px;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
}